<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>SaveNoteServlet</servlet-name>
		<servlet-class>com.servlet.SaveNoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveNoteServlet</servlet-name>
		<url-pattern>/SaveNoteServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>

</web-app>